/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-left {
    display: flex;
    margin-left: 5vh;
  }
  
  .navbar-left a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-right {
    display: flex;
    margin-right: 5vh;
  }
  

  .navbar-left a:hover {
    text-decoration: underline;
  }
  
  .navbar-right .logo {
    font-size: 24px;
    font-weight: bold;
  } */
  